In [1]:
# tuple datatype
stu=('safia', 'venki','namitha','sharadha','neha','Bharathi')
print(stu)

('safia', 'venki', 'namitha', 'sharadha', 'neha', 'Bharathi')

In [2]:
type(stu)

tuple

In [5]:
dimention=(250,50)
print(dimention)

(250, 50)

In [7]:
# I want ot change this dimention 250 to 300

dimension=(300,50)
print(dimension)

(300, 50)

In [9]:
# need  to declare newly
dimention=(300, 60)
print(dimention)

(300, 60)

In [10]:
print(stu)

('safia', 'venki', 'namitha', 'sharadha', 'neha', 'Bharathi')

In [11]:
print(stu[2])

namitha

In [12]:
print(stu[0])

safia

In [13]:
print(stu[4].title())

Neha

In [14]:
for x in stu:
    print(x)

safia
venki
namitha
sharadha
neha
Bharathi

In [23]:
#dictionaries
# Mutable data types
#its combinationation of Key and Values
User={'username':'abc','FirstName':'neha','Lastname':'kakkar','pw':'4321','DOB':'01-01-1990'}
print(User)

{'username': 'abc', 'FirstName': 'neha', 'Lastname': 'kakkar', 'pw': '4321', 'DOB': '01-01-1990'}

In [28]:
#how to access values from dictionaries
#I want know the username
print(User['username'])

abc

In [32]:
# print the last name
print(User['Lastname'].title())

Kakkar